#appView
  position: absolute
  bottom: 7.4%
  right: 0
  left: 0
  height: 92.6%

#bottomNavigation
  position: absolute
  bottom: 0
  right: 0
  left: 0
  height: 7.4%
  background-color: #000000
.bottomNavBTN
  background-color: transparent